$avenir: 'Avenir', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 

$dark-gray: #333;
$light-gray: #efefef;
$white: #fff;

$dark-overlay: rgba(#000, 0.65);
$light-overlay: rgba(#000, 0.35);

$phone: 480px;
$tablet: 768px;
$laptop: 1000px;
$desktop: 1280px;
$cinema: 1440px;