<!doctype html>
<html class="no-js" lang="{{ language }}">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="@/assets/img/og.jpg">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="@/assets/css/app.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    {% block app %} {% endblock %}
  </div>

  <script src="@/assets/js/app.min.js"></script>
</body>
</html>
