{% set page = "index" %}

{% extends "layout/default.njk" %}

{% block app %}
  {% include 'partials/_nav.njk' %}

  <section class="hello">
    <div class="container">
      <h2>{{ title | safe }}</h2>
      <p>{{ copy }}</p>
      <img class="icon" src="/src/assets/icons/ic_refresh_48px.svg">
      <ul>
        {% for food in foods %}
          <li>{{ food.item }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}