{% set page = "index" %}

{% extends "_layout.njk" %}

{% block app %}
  {% include '_nav.njk' %}

  <section class="hello">
    <div class="container">
      <h2>{{ pages[page].helloSection.title | safe }}</h2>
      <p>{{ pages[page].helloSection.copy }}</p>
      <img class="icon" src="/src/assets/icons/ic_refresh_48px.svg">
      <ul>
        {% for food in pages[page].helloSection.foods %}
          <li>{{ food.item }}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}